.liked {
  width: 200px;
}

.notLiked {
  width: 100px;
}

.characterContainer {
  display: flex;
  background-color: aquamarine;
  width: 100%;
}

.Left {
  display: flex;
  flex-direction: row-reverse;
}

.Right {
  display: flex;
}
